In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data.csv')
# data.filter(['Country','Year', 'Number of reported cases of cholera', 'Number of reported deaths from cholera'])

data[['Country', 'Year', 'Number of reported cases of cholera', 'Number of reported deaths from cholera']]

data.loc[data['Country'] == 'Afghanistan'].sort_values('Year')
# data['Country'].count()

cols = list(data.columns)

data = data[cols[0:2] + [cols[-1]] + cols[2:5]]
data = data.rename(columns={'Number of reported cases of cholera': 'Cases',
                     'Cholera case fatality rate': 'Death rate(%)',
                     'Number of reported deaths from cholera': 'Deaths'})
data.dtypes

Country          object
Year              int64
WHO Region       object
Cases            object
Deaths           object
Death rate(%)    object
dtype: object

In [12]:
data[data['Cases'].str.contains('[^0-9\.]').astype(bool) & data['Cases'].notnull()]

,Country,Year,WHO Region,Cases,Deaths,Death rate(%)
81,Australia,2011,Western Pacific,6,0,0.00
121,Bahamas,2011,Americas,1,NaN,NaN
246,Brazil,2011,Americas,1,0,0.00
260,Brunei Darussalam,2011,Western Pacific,3,NaN,0.00
412,Canada,2011,Americas,9,NaN,0.00
459,Chile,2011,Americas,1,0,0.00
472,China,2011,Western Pacific,26,NaN,0.00
645,Dominican Republic,2011,Americas,20851,336,1.61
714,France,2011,Europe,1,0,0.00
763,Germany,2011,Europe,4,0,0.00
1059,Iraq,2016,Eastern Mediterranean,3 5,0 0,0.0 0.0
1106,Japan,2011,Western Pacific,12,NaN,0.00
1316,Malaysia,2011,Western Pacific,586,10,1.71
1928,Singapore,2011,Western Pacific,2,NaN,NaN
2075,Sweden,2011,Europe,1,0,0.00
2241,United Kingdom of Great Britain and Northern I...,2011,Europe,32,0,0.00
2322,United States of America,2011,Americas,42,0,0.00
2348,Venezuela (Bolivarian Republic of),2011,Americas,49,0,0.00

In [14]:
data[data['Deaths'].str.contains('[^0-9\.]') & data['Deaths'].notnull()]

      Country  Year             WHO Region Cases   Deaths Death rate(%)
761   Germany  2016                 Europe     1  Unknown       Unknown
1059     Iraq  2016  Eastern Mediterranean   3 5      0 0       0.0 0.0

In [32]:
data[data['Death rate(%)'].str.contains('[^0-9\.]') & data['Death rate(%)'].notnull()]
# Iraq has a duplicated value 
# Trying to replace the duplicated value of iran with the highest number

data.loc[1059, 'Cases'] = '5'
data.loc[1059, 'Deaths'] = '0'
data.loc[1059, 'Death rate(%)'] = '0.0'

Country          Germany
Year                2016
WHO Region        Europe
Cases                  1
Deaths           Unknown
Death rate(%)    Unknown
Name: 761, dtype: object

In [42]:
for column in ['Cases', 'Deaths', 'Death rate(%)']:
    data[column] = data[column].replace('Unknown', np.nan)
    data[column] = pd.to_numeric(data[column], downcast='integer')
    
data

,Country,Year,WHO Region,Cases,Deaths,Death rate(%)
0,Afghanistan,2016,Eastern Mediterranean,677.0,5.0,0.70
1,Afghanistan,2015,Eastern Mediterranean,58064.0,8.0,0.01
2,Afghanistan,2014,Eastern Mediterranean,45481.0,4.0,0.00
3,Afghanistan,2013,Eastern Mediterranean,3957.0,14.0,0.35
4,Afghanistan,2012,Eastern Mediterranean,12.0,0.0,0.10
5,Afghanistan,2011,Eastern Mediterranean,3733.0,44.0,1.18
6,Afghanistan,2010,Eastern Mediterranean,2369.0,10.0,0.42
7,Afghanistan,2009,Eastern Mediterranean,662.0,11.0,1.66
8,Afghanistan,2008,Eastern Mediterranean,4384.0,22.0,0.50
9,Afghanistan,2005,Eastern Mediterranean,33.0,0.0,0.00
10,Afghanistan,2003,Eastern Mediterranean,41.0,7.0,17.07
11,Afghanistan,2002,Eastern Mediterranean,3.0,NaN,NaN
12,Afghanistan,2001,Eastern Mediterranean,4499.0,114.0,2.53
13,Afghanistan,2000,Eastern Mediterranean,4330.0,198.0,4.57
14,Afghanistan,1999,Eastern Mediterranean,24639.0,152.0,0.62
15,Afghanistan,1998,Eastern Mediterranean,10000.0,0.0,0.00
16,Afghanistan,1997,Eastern Mediterranean,4170.0,125.0,3.00
17,Afghanistan,1995,Eastern Mediterranean,19903.0,624.0,3.14
18,Afghanistan,1994,Eastern Mediterranean,38735.0,118.0,0.30
19,Afghanistan,1993,Eastern Mediterranean,37046.0,931.0,2.51
20,Afghanistan,1965,Eastern Mediterranean,218.0,55.0,25.23
21,Afghanistan,1960,Eastern Mediterranean,887.0,199.0,22.44
22,Albania,1994,Europe,626.0,25.0,3.99
23,Algeria,2006,Africa,0.0,0.0,0.00
24,Algeria,2005,Africa,0.0,0.0,0.00
25,Algeria,1994,Africa,118.0,4.0,3.39
26,Algeria,1992,Africa,69.0,0.0,0.00
27,Algeria,1990,Africa,1299.0,20.0,1.54
28,Algeria,1989,Africa,393.0,0.0,0.00
29,Algeria,1988,Africa,699.0,30.0,4.29
...,...,...,...,...,...,...
2462,Zimbabwe,1993,Africa,5385.0,332.0,6.17
2463,Zimbabwe,1992,Africa,2048.0,105.0,5.13
2464,Zimbabwe,1986,Africa,2.0,NaN,NaN
2465,Zimbabwe,1985,Africa,144.0,6.0,4.17
2466,Zimbabwe,1976,Africa,144.0,9.0,6.25
2467,Zimbabwe,1975,Africa,615.0,33.0,5.37
2468,Zimbabwe,1974,Africa,37.0,0.0,0.00
2469,Zimbabwe,1973,Africa,1.0,NaN,NaN
2470,Andorra,1993,Europe,NaN,0.0,NaN
2471,Argentina,1992,Americas,NaN,15.0,NaN
2472,Australia,1990,Western Pacific,NaN,0.0,NaN
2473,Australia,1969,Western Pacific,NaN,0.0,NaN
2474,Austria,1982,Europe,NaN,0.0,NaN
2475,Belgium,1981,Europe,NaN,0.0,NaN
2476,Bhutan,1958,South-East Asia,NaN,0.0,NaN
2477,Canada,1988,Americas,NaN,0.0,NaN
2478,Ethiopia,1979,Africa,NaN,0.0,NaN
2479,Greece,1981,Europe,NaN,0.0,NaN
2480,Norway,1981,Europe,NaN,0.0,NaN
2481,Poland,1991,Europe,NaN,0.0,NaN
2482,Portugal,1981,Europe,NaN,0.0,NaN
2483,Romania,1979,Europe,NaN,8.0,NaN
2484,Russian Federation,1986,Europe,NaN,0.0,NaN
2485,Russian Federation,1984,Europe,NaN,0.0,NaN
2486,Russian Federation,1981,Europe,NaN,0.0,NaN
2487,Russian Federation,1980,Europe,NaN,0.0,NaN
2488,Russian Federation,1971,Europe,NaN,0.0,NaN
2489,Sweden,1984,Europe,NaN,0.0,NaN
2490,Switzerland,1980,Europe,NaN,0.0,NaN
2491,Cambodia,2011,Western Pacific,NaN,NaN,0.00